{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}" />

{% block content %}
<div class="container">
  <h1>Add Contact</h1>

  {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <form class="form-contacts" action="{% url 'contacts:save' %}" method="post">
        {% csrf_token %}
        <table>
          {{form}}
        </table>
        <hr/>
        <input type="submit" value="Save" class="btn btn-primary" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
