{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'contacts/style.css' %}" />

{% block content %}
<div class="container">
  {% if contact %}
    <h1>Edit Contact</h1>
  {% else %}
    <h1>Add Contact</h1>
  {% endif %}

  {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      {% if contact %}
        <form class="form-contacts" action="{% url 'contacts:update' contact.id %}" method="post">
      {% else %}
        <form class="form-contacts" action="{% url 'contacts:save' %}" method="post">
      {% endif %}

        {% csrf_token %}
        <table>
          {{form}}
        </table>
        <hr/>
        <input type="submit" value="Save" class="btn btn-primary" />
        {% if contact %}
          <a class="btn btn-success" href='{% url "contacts:detail" contact.id  %}'>Back</a>
        {% endif %}

        <br/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
